*{padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.divTudo{
    background-color: #333;
    width: 22vw;
    margin-left: 620px;       /* Aqui é toda a calculadora, fiz a cor de fundo aqui, ajustei os epsaçamentos e botei a cura na lateral da calculadora*/
    gap: 10px;
    border-radius: 30px;
}
#result{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 22vw;               /* aqui é onde fica o resultado,  */
    height: 9vh;
    font-size: 40px;
    color: white;
    border-radius: 30px;
}
.botao{
    font-size: 30px;
    width: 5vw;
    height: 9vh;
    border-radius: 50%;
    background-color: #505050;      /*Aqui são os botões cinza escuro (numeros, ponto e o botao de limpar)*/
    color: white;
    margin-top: 10px;
}
.botaoClaro{
    font-size: 30px;
    width: 5vw;
    height: 9vh;
    border-radius: 50%;         /*Aqui são os botões cinza claro(a multiplicação e a divisão)*/
    background-color: #a6a6a6;
    color: #000;
}
.botaoLaranja{
    font-size: 30px;
    width: 5vw;
    height: 9vh;
    border-radius: 50%;                             /*Aqui são os boteoes laranja (o menos, mais e o igual)*/
    background-color: #ff9500;
    color: white;
}
.botaoIgual{
    font-size: 30px;
    width: 5vw;
    height: 9vh;
    border-radius: 50%;
    background-color: #ff9500;              /*Aqui o botão de igualdade*/
    color: white;
}
.botaoZero{
    font-size: 30px;
    width: 10.5vw;
    height: 9vh;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;             /*Aqui o botão zero que foi separado por usar duas colunas ao inves de uma*/
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: #505050;
    color: white;
}

